* {
	background-color : #777;
	color: #777;
	max-width : '960px';
	font-size : '18px';
	box-sizing: border-box;
	text-align: center;
}
p {
	color:#777;
	background: #ebebeb;
}

div {
	background-color: #ebebeb;
	box-sizing: border-box;
	padding: 20px;
}

#wrapper {
	overflow: auto;
}

#col1 {
	width: 45%;
	float: left;
	overflow: auto;
}

#section {
	color: #ebebeb;
	background-color: #777;
}

#article {
	background-color: #777;
	color: #ebebeb;
}

#row1 #row2 {
	height: 5px;
}

#clo2 {
	float: right;
	width: 45%;
	border: 5px solid black;
}